footer {
  background-color: var(--background-footer);
}

footer .footer__content {
  text-align: center;
  padding: 6rem 2rem 1rem;
  max-width: 47rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer .footer__content .footer__contact span {
  display: block;
  font-weight: 500;
  margin-left: 0rem;
}

footer .footer__content ul li {
  display: inline-block;
}

footer .footer__content ul a {
  display: inline-block;
  padding: 1rem;
}

footer .footer__content .footer__copyright {
  font-size: 1.4rem;
}

footer .footer__contact .span__email {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.5rem;
  color: #c0c9d1;
  font-family: "Alata", sans-serif;
}
