footer {
  background-color: var(--background-footer);
}

footer .footer__content {
  text-align: center;
  padding: 6rem 2rem 1rem;
  max-width: 47rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer .footer__content .footer__contact span {
  display: block;
  font-weight: 500;
  margin-left: 0rem;
}

footer .footer__content ul li {
  display: inline-block;
}

footer .footer__content ul a {
  display: inline-block;
  padding: 1rem;
}

footer .footer__content .footer__copyright {
  font-size: 1.4rem;
}

footer .footer__content .footer__form {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

footer .footer__contact .span__email,
footer .footer__content .footer__form,
footer .footer__content .footer__form__down {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.5rem;
  color: #c0c9d1;
  font-family: "Alata", sans-serif;
}

footer .footer__content .footer__form form {
  width: 100%;
  max-width: 30rem;
}

footer .footer__content .footer__form label,
footer .footer__content .footer__form input,
footer .footer__content .footer__contact button {
  display: block;
}

footer .footer__content .footer__form input,
footer .footer__content .footer__form__down button {
  width: 100%;
  font: inherit;
  padding: 1.25rem;
  font-weight: 700;
}

footer .footer__content .footer__form input {
  margin-bottom: 1rem;
  color: white;
  background: #323644;
  border: 0.125rem solid transparent;
  border-radius: 1.125rem;
  transition: border-color 0.3s;
}

footer .footer__content .footer__form .footer__left input,
footer .footer__content .footer__form .footer__right input {
  width: 100%;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  border-color: #1d90f5;
  box-shadow: 0 0 0 0.3125rem #26344a;
}

footer .footer__content .footer__form label {
  margin-bottom: 0.5;
  color: #84868f;
  left: 0;
  text-align: left;
}

footer .footer__content .footer__form__down button {
  border: none;
  border-radius: 99px;
  color: white;
  background: #1d90f5;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 4rem;
  width: 50%;
}

footer .footer__content .footer__form .footer__left {
  display: inline;
  float: left;
}

footer .footer__content .footer__form .footer__right {
  display: inline;
  float: right;
}

footer .footer__content .footer__form .footer__form__down {
  display: flex;
  flex-direction: column;
}

footer .footer__content .footer__form__down label,
footer .footer__content .footer__form__down input,
footer .footer__content .footer__form__down textarea,
footer .footer__content .footer__form__down button {
  display: block;
}

footer .footer__content .footer__form__down input,
footer .footer__content .footer__form__down textarea,
footer .footer__content .footer__form__down button {
  width: 100%;
  font: inherit;
  padding: 1.25rem;
  font-weight: 700;
}

footer .footer__content .footer__form__down label {
  margin-bottom: 0.5;
  color: #84868f;
}

footer .footer__content .footer__form__down textarea {
  margin-bottom: 1rem;
  color: white;
  background: #323644;
  border: 0.125rem solid transparent;
  border-radius: 1.125rem;
  transition: border-color 0.3s;
  min-height: 12.5rem;
  resize: vertical;
  margin-bottom: 2rem;
  width: 100%;
  min-height: 12.5rem;
  resize: vertical;
  margin-bottom: 2rem;
  width: 100%;
}
