.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 0;
  font-family: "ABeeZee", sans-serif;
  transition: 0.5s;
}

.navbar ul div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: aqua;
  padding: 5px;
  width: 10rem;
  height: 4rem;
  border-radius: 3rem;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  transition: src 0.5s ease;
}

.navbar ul.translate .divToggle img {
  position: relative;
  max-width: 32px;
  max-height: 32px;
  margin-left: auto;
  transition: src 0.5s ease;
}

#toggle.active .imgToggle {
  margin-left: auto;
}

.navbar a:hover {
  color: var(--tertiary-color);
}

.navbar .navbar__content {
  padding: 3rem 4rem 1rem;
  display: flex;
  justify-content: space-between;
}

.navbar .navbar__content .navbar__links li {
  display: inline-block;
}

.navbar .navbar__img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.navbar .navbar__linksLeft {
  position: absolute;
  display: inline-block;
}

.navbar .navbar__linksLeft li {
  display: inline-block;
}

.navbar .navbar__linksLeft a {
  padding: 1rem;
  display: inline-block;
}

.navbar .navbar__linksRight {
  position: relative;
  display: flex;
}

.navbar .navbar__linksRight a {
  padding: 1rem;
  display: inline-block;
}

.navbar .navbar__linksRight a:last-of-type {
  padding-right: 2rem;
}

.navbar.active {
  box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.1);
  background-color: var(--background-navbar-scroll);
}

.navbar.active {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.navbar .navbar__content .navbar__mobile,
.navbar .navbar__content .navbar__mobile .mobile__links {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar .navbar__content .navbar__linksLeft,
  .navbar .navbar__content .navbar__linksRight {
    display: none;
  }

  .navbar .navbar__content .navbar__mobile {
    display: flex;
    align-items: center;
  }

  .navbar .navbar__content .navbar__mobile img {
    width: 3.6rem;
    height: 3.6rem;
    cursor: pointer;
  }

  .navbar .navbar__content .navbar__mobile.active .mobile__links {
    display: flex;
    flex-direction: column;
    background-color: var(--background-navbar-scroll);
    width: 100%;
    position: absolute;
    top: 98%;
    left: 0;
    padding: 1rem 0;
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .navbar .navbar__content .navbar__mobile.active .mobile__links li {
    margin-right: 0;
  }

  .navbar .navbar__content .navbar__mobile.active .mobile__links li a {
    padding: 1rem;
    display: block;
    text-align: center;
  }
}
