.projects {
  margin-bottom: 16rem;
  scroll-margin-top: 15rem;
}

.projects .projects__content {
  max-width: 56rem;
  text-align: center;
  margin: 0 auto 6rem;
}

.projects .projects__content p {
  max-width: 56rem;
  text-align: center;
  margin: 0 auto 6rem;
  margin-left: 0rem;
  margin-top: 2rem;
}

.projects ul li {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}

.projects ul {
  margin-top: 10rem;
}

.projects .projects__info-web {
  margin-bottom: 20rem;
  margin-left: 5rem;
}

.projects .projects__info-web .projects__web-title {
  font-family: "ABeeZee", sans-serif;
  color: var(--white);
  font-size: 3rem;
  margin-top: -3rem;
}

.projects .projects__info-web p {
  margin-bottom: 2rem;
  font-size: 15px;
}

.projects .projects__info-mobile .projects-title {
  font-family: "ABeeZee", sans-serif;
  color: var(--white);
  font-size: 3rem;
  margin-top: 16rem;
}

.projects ul li.projects-mobile {
  flex-direction: row-reverse;
  margin-left: 3rem;
}

.projects ul li {
  margin-bottom: -10rem;
}

.projects ul li .image-mobile img {
  max-width: 490px;
  max-height: 500rem;
  margin-left: 15rem;
  margin-bottom: 18rem;
  opacity: 70%;
}

.projects ul li .image-web img {
  max-width: 490px;
  max-height: 700rem;
  margin-left: 3.5rem;
  margin-bottom: 22rem;
  opacity: 70%;
}

.projects ul li .image-game img {
  max-width: 490px;
  max-height: 700rem;
  margin-left: 3.5rem;
  margin-bottom: 13rem;
  opacity: 70%;
}

.projects .projects__info-mobile {
  max-width: 47rem;
  margin-bottom: 25rem;
}

.projects p {
  font-size: 15px;
  margin-top: 3rem;
  margin-bottom: 6rem;
  text-align: justify;
}

.projects-mobile .projects__info-mobile {
  margin-bottom: 35rem;
}

@media only screen and (max-width: 768px) {
  .projects ul li {
    flex-direction: column;
    margin-bottom: -5rem;
  }

  .projects ul li.projects-mobile {
    flex-direction: column;
    margin-right: 30rem;
  }

  .projects ul li.projects-mobile .image-mobile img {
    max-width: 300px;
    max-height: 300rem;
    margin-left: 0.5rem;
  }

  .projects ul li.projects-web .image-web img {
    max-width: 300px;
    max-height: 300rem;
    margin-left: 3.5rem;
  }

  .projects .projects__info-mobile {
    margin-top: -30rem;
  }

  .projects .projects__info-web {
    margin-top: -20rem;
  }

  .projects ul li .projects__info-web,
  .projects ul li .projects__info-mobile {
    max-width: 66rem;
  }

  .projects ul li .image-mobile {
    min-width: auto;
  }
}
