.projects {
  margin-bottom: 16rem;
  scroll-margin-top: 15rem;
}

.projects .projects__content {
  max-width: 56rem;
  text-align: center;
  margin: 0 auto 6rem;
}

.projects ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}

.projects ul {
  margin-top: 10rem;
}

.projects .projects__info .tertiary-title {
  color: var(--white);
  margin-bottom: 23rem;
  margin-right: 3.5rem;
}

.projects ul li.projects__reversed-list {
  flex-direction: row-reverse;
}

.projects ul li:not(:last-of-type) {
  margin-bottom: 12rem;
}

.projects ul li .image img {
  max-width: 350px;
  max-height: 700rem;
  margin-left: 3.5rem;
  margin-bottom: 13rem;
  opacity: 50%;
}

.projects ul li .projects__info {
  max-width: 47rem;
}

.projects ul li .projects__info a {
  font-weight: 500;
  text-decoration: underline;
}
