.projects {
  background-color: var(--background);
  display: grid;
  place-items: center;
  height: 100vh;
}

.projects .projects__content {
  max-width: 56rem;
  text-align: center;
  margin: 0rem auto 2rem;
}

.gallery {
  display: flex;
  gap: 1rem;
  max-width: 120rem;
  height: 50rem;
  margin-top: 5rem;
}

.card {
  display: flex;
  left: 0;
  width: 120rem;
  border-radius: 1.2rem;
  height: 50rem;
  overflow: hidden;
  background-color: var(--background);
  transition: 0.4s ease-in-out;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  flex: 0.25;
}

.card .info-project {
  padding-right: 2rem;
}

.card .info-project h2 {
  font-size: 2rem;
  padding: 2rem;
}

.card .info-project p {
  text-align: justify;
  padding: 2rem;
}

.card img {
  position: relative;
  height: 50rem;
  width: 55rem;
  transition: filter 0.5s ease;
  border-radius: 10px;
  object-fit: cover;
  filter: blur(2px);
}

.card img:hover {
  filter: none;
}

.card:hover {
  flex: 4;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
  transform: scale(1.05);
}

.card:not(:hover) {
  transition: 0.3 ease-in-out;
}

@media only screen and (max-width: 768px) {
  .gallery {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
  }

  .gallery .card img {
    width: 100%;
    filter: none;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .gallery .card .info-project {
    width: 100%;
  }
}
