.skills {
  scroll-margin-top: 15rem;
}

.skills .skills__content {
  padding: 6rem 4rem;
  text-align: center;
}

.skills__item-web {
  position: relative;
  border: 2px solid #ccc; /* Define a borda com 2px de largura e cor cinza */
  padding: 20px; /* Adiciona um espaçamento interno para dar espaço à borda */
  margin-bottom: 20px; /* Adiciona um espaçamento inferior entre cada item */
  border-radius: 5%;
}

.skills__item-mobile {
  position: relative;
  border: 2px solid #ccc; /* Define a borda com 2px de largura e cor cinza */
  padding: 20px; /* Adiciona um espaçamento interno para dar espaço à borda */
  margin-bottom: 20px; /* Adiciona um espaçamento inferior entre cada item */
  border-radius: 5%;
}

.skills__item-games {
  position: relative;
  border: 2px solid #ccc; /* Define a borda com 2px de largura e cor cinza */
  padding: 20px; /* Adiciona um espaçamento interno para dar espaço à borda */
  margin-bottom: 20px; /* Adiciona um espaçamento inferior entre cada item */
  border-radius: 5%;
}

.skills .skills__content p {
  font-family: "Alata", sans-serif;
  font-size: 1.4rem;
}

.skills .skills__content .description {
  max-width: 90rem;
  font-size: 1.8rem;
  margin: 0 auto 12rem;
  margin-top: 5rem;
}

.skills .skills__content ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.skills .skills__content ul li .image-container {
  position: relative;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  z-index: -1;
}

.skills .skills__content ul li .image-arrow-web {
  position: absolute;
  top: 35px;
  right: 10px;
}

.skills .skills__content ul li .image-arrow-mobile {
  position: absolute;
  top: 35px;
  right: 10px;
}

.skills .skills__content ul li .image-arrow-games {
  position: absolute;
  top: 35px;
  right: 10px;
}

.skills .skills__content ul li h3 {
  font-size: 2.6rem;
  font-weight: 500;
  margin: 2rem 0 1rem;
}

.skills h3 {
  font-size: 9.4rem;
  font-weight: 700;
  color: var(--light-tertiary-color);
  font-family: "ABeeZee", sans-serif;
}

.rotate180-web {
  transform: rotate(90deg);
  transition: transform 0.5s ease; /* Adiciona uma transição suave para o efeito de rotação */
}

.rotate180-mobile {
  transform: rotate(90deg);
  transition: transform 0.5s ease; /* Adiciona uma transição suave para o efeito de rotação */
}

.rotate180-games {
  transform: rotate(90deg);
  transition: transform 0.5s ease; /* Adiciona uma transição suave para o efeito de rotação */
}

#info-div-web a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--light-tertiary-color);
  font-family: "ABeeZee", sans-serif;
  display: block;
  padding-top: 2rem;
  text-align: justify;
  margin-left: 2rem;
}
